@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
	--color-white: #fefefe;
	--color-gray: #f2ecec;
	--color-green: #89a493;
	--color-green-gray: #808582;
	--color-green-dark: #4b5a50;
	--border-radius-size: 10px;
	--padding-size: 15px;
	--content-max-width-size: 600px;
}

body {
	min-width: 360px;
	height: 100%;
	min-height: 350px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	background-color: var(--color-gray);
}

a {
	text-decoration: none;
}

.header {
	background-color: var(--color-green);
}

.header-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-width: var(--content-max-width-size);
	margin: 0 auto;
}

.header-title {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--color-white);
}

.header-username {
	vertical-align: center;
	margin-top: 5px;
	color: var(--color-gray);
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: var(--content-max-width-size);
	height: calc(100% - 60px);
	margin: 0 auto;
}

.username {
	max-width: 120px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	border-radius: var(--border-radius-size);
	background-color: var(--color-white);
}

.card-header,
.card-footer {
	background-color: var(--color-green);
}

.card-header {
	display: flex;
	align-items: center;
	min-height: 45px;
	padding: 0 var(--padding-size);
}

.card-header-title {
	text-transform: uppercase;
	font-size: 24px;
	color: var(--color-white);
}

.card-body {
	height: 100%;
}

.button,
.input {
	width: 100%;
	height: 100%;
	background-color: var(--color-white);
	border-radius: 10px;
	border: 5px solid var(--color-green);
	outline: none;
}

.button {
	color: var(--color-green-dark);
}

.button:active {
	background-color: var(--color-gray);
}

.input {
	text-align: center;
}

.textarea {
	width: 100%;
	height: 100%;
	padding: 2px var(--padding-size);
	border-radius: var(--border-radius-size);
	outline: none;
	border: none;
	resize: none;
}

.input::placeholder,
.textarea::placeholder {
	color: var(--color-green-gray);
}

.enter-name {
	width: 100%;
	max-width: 450px;
	height: 250px;
	padding: var(--padding-size);
}

.enter-name-card-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.enter-name-form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 275px;
}

.enter-name-input-box {
	height: 35px;
}

.enter-name-button-box {
	height: 40px;
}

.chat {
	width: 100%;
	height: 100%;
	padding: 25px;
}

.chat-card-body {
	overflow: hidden;
	padding: var(--padding-size);
}

.chat-card-msg-list {
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column-reverse;
	gap: 5px;
	height: 100%;
}

.chat-card-msg-item {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}

.chat-card-msg-info {
	display: flex;
	gap: 4px;
}

.chat-card-msg-username {
	color: var(--color-green-dark);
}

.chat-card-msg-time {
	color: var(--color-green-gray);
}

.chat-card-msg-text {
	word-break: break-word;
}

.chat-card-footer {
	display: flex;
	align-items: center;
	line-height: 0;
	padding: 8px;
}

.chat-card-textarea {
	padding: 5px 10px;
	line-height: 1.5;
}

.chat-card-send-button {
	min-width: 37px;
	height: 37px;
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	color: var(--color-white);
	background-color: var(--color-green);
}

.chat-card-send-button:hover {
	color: var(--color-gray);
}
